/* ====== Google Fonts ====== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

/* ===== Css Variables ===== */
:root {
  --header-height: 4rem;

  /* ====== Colours ====== */
  --yellow: #F3AE25;
  --blue-hue: 190;
  --white: #E8E5DC;
  --bittersweet: #F96F5D;

  /* ==== Alter color ==== */
  --blue: hsl(var(--blue-hue), 64%, 22%);
  --blue-dark: hsl(var(--blue-hue), 64%, 16%);
  --body-color: hsl(var(--blue-hue), 50%, 14%);

  /* ======= Fonts ======= */
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --p-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* ========== Font weight ========== */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ========== Margenes Bottom ========== */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /* ========== z index ========== */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* ========== Hover overlay ========== */
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --p-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* ======== Base ========= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

.main {
  overflow-x: hidden;
}

p {
  font-size: var(--p-font-size);
}


/* =============== CSS CLASSES =============== */
.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 1024px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* =============== HEADER =============== */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: rgb(var(--body-color));
}


/* =============== NAVIGATION =============== */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--yellow);
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
} 

.nav__img {
  width: 60px;
  height: 50px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    transition: .4s;
  }

  /* .container {
    max-width: 768px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  } */
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  font-weight: var(--font-semi-bold);
}

.nav__link:hover {
  color: var(--yellow);
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
}

.scroll-header .nav__logo {
  color: var(--yellow);
}



/* =============== SCROLL BAR =============== */
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--blue);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-dark);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--body-color);
}

/* =============== HOME =============== */
.home {
  background: url('../img/Background-image.jpg') rgba(35, 73, 89, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

}

.home__container {
  position: relative;
  height: calc(130vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}

.home__data-subtitle,
.home__data-title {
  color: var(--white);
}

.home__data-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home__data-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2-5);
}

/* =============== BUTTONS =============== */
.button {
  display: inline-block;
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.button:hover {
  background-color: var(--blue-dark);
}

.button--flex {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.button--link {
  background: none;
  padding: 0;
}

.button--link:hover {
  background: none;
}


/* =================== ABOUT ================== */
.about__data {
  text-align: center;
}

.about__container {
  row-gap: 2.5rem;
}

.about__description {
  margin-bottom: var(--mb-2);
}

.about__img {
  display: flex;
  column-gap: 7rem;
}

.about__image {
  width: 400px;
}

.highlight {
  font-weight: bold;
  color: var(--yellow);
}

/* ========== COURSES ========== */
.courses__card,
.course__img {
  height: 350px;
  overflow: hidden;
}

.course__img {
  object-fit: cover;
  opacity: .75;
}

.courses__container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
}

.course__img:hover {
  transform: var(--img-scale);
}

.course__img {
  transition: var(--img-transition);
}

/* =========== FAQ =========== */
.faq__container {
  display: grid;
  grid-template-rows: max-content;
  width: 100%;
  place-items: center;
}

.faq__card {
  width: 90%;
  padding: 10px;
}

.faq__questions {
  color: var(--bittersweet);
  padding: 10px;
}

.faq__answers {
  padding: 10px;
}

hr {
  width: 90%;
}

/* ========= CONTACT ========= */
.contact__card {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  padding: 10px;
  overflow: hidden;
  border-right: var(--bittersweet) solid 2px;
}

.contact__container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  place-content: center;
}

.contact__side {
  width: 150px;
}

.title {
  padding: 20px;
  padding-left: 0;
  padding-top: 0;
  color: var(--bittersweet);
}

.contact__content {
  width: 350px;
  overflow: hidden;
}

/* ========= Queries ========= */
.form__container {
  /* background-color: #F96F5D; */
  width: 500px;
  display: grid;
  grid-template-rows: max-content;
  /* place-items: center; */
}

form {
  /* background-color: #F3AE25; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

form input, form textarea {
  border: 0;
  margin: 10px 0px;
  padding: 10px;
  outline: none;
  width: 100%;
  background-color: transparent;
  border-bottom: var(--white) solid;
  font-size: var(--normal-font-size);
  color: var(--white);
}

form button {
  display: flex;
  align-self: center;
  width: 150px;
  border-radius: 30px;
}

/* ========= FOOTER ========= */
.footer__container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  height: calc(90vh - var(--header-height));
}

.footer__center {
  width: 100%;
  text-align: center;
}

.footer__align {
  margin: auto;
}

.footer__image {
  width: 100px;
}

.footer__title {
  font-size: var(--biggest-font-size);
}

.footer__social {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__social ul {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  gap: 1.8rem;
}

.copy_rights {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* =============== MEDIA QUERIES =============== */
/* For small devices */
@media screen and (min-width: 340px) {

  .home__info {
    width: 190px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (max-width: 568px) {
  header {
    display: flex;
    justify-content: center;
  }

  .courses__container {
    padding: 10px;
    display: block;
    gap: 50px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    
    .courses__card {
      display: inline-block;
    }
  }
  
  .contact__container {
    grid-template-columns: max-content;
    place-items: center;
  }
  
  .contact__card {
    grid-template-columns: max-content;
  }

  .course__img:hover {
    transform: none;
  }

  .title {
    padding: 10px;
  }
  
  .contact__content {
    width: 300px;
    overflow-wrap: break-word;
    height: fit-content;
    padding: 10px;
  }

  .form__container {
    width: 300px;
  }

  form button {
    width: 150px;
    border-radius: 30px;
  }

  form {
    margin: 0;
  }

  .faq__container {
    margin: 0;
    place-content: center;
  }

  .faq__card {
    width: 100%;
  }

  .footer__title {
    font-size: var(--h1-font-size);
  }

  .footer__container {
    height: 65vh;
  }

  .footer__social {
    align-items: center;
  }

  .copy_rights {
    flex-direction: column;
    justify-content:space-evenly;
  }
}

@media screen and (max-width: 768px) {
  .nav__list {
    row-gap: 0rem;
  }

  .courses__container {
    grid-template-columns: repeat(2, max-content);
  }

  .contact__card {
    grid-template-rows: max-content;
    border: none;
  }

  .contact__container {
    grid-template-columns: max-content;
  }

  .contact__right .title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__link {
    color: var(--white-color);
    text-transform: initial;
  }

  .nav__link:hover {
    color: var(--white-color);
  }

  .nav__menu {
      display: flex;
      column-gap: 1rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .home__container {
    height: 100vh;
    grid-template-rows: 1.8fr .5fr;
  }

  .home__data {
    align-self: flex-end;
  }

  .home__social {
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 3rem;
    column-gap: 2.5rem;
  }

  .home__info {
    bottom: 3rem;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__data,
  .about__title {
    text-align: initial;
  }

  .about__title {
    margin-bottom: var(--mb-1-5);
  }

  .about__description {
    margin-bottom: var(--mb-2);
  }

  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__container {
    grid-template-rows: 2fr .5fr;
  }

  .home__info {
    width: 328px;
    grid-template-columns: 1fr;
    column-gap: 2rem;
  }

  .home__info-title {
    font-size: var(--normal-font-size);
  }

  .home__info-img {
    width: 240px;
  }

  .about__image {
    width: 230px;
  }

  .courses__container{
    gap: 3rem 2rem;
  }

  .courses__card,
  .courses__img {
    height: 350px;
  }

  .footer__content {
    justify-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

/* For tall screens on mobiles y desktop */
@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }

  .home__container,
  .home__img {
    height: 640px;
  }
}